.holder {
			display:flex;
			flex-direction: row;
			  background-color:gray;
			  justify-content: flex-start;
			align-items:center;
			align-content: center;
		}
		.holder >img {
			
			padding-right:10px;
			margin-bottom:20px;
			padding-left:20px;
		}
		
		.demo{
			display:flex;
			  justify-content:center;
		}